th,
td {
  padding: 5px 10px;
  border: 1px solid grey;
}
.App {
  padding: 20px;
  display: flex;
}
button {
  border: solid 1px #000;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
button:hover {
  background-color: #000;
  color: #fff;
}
input {
  border-radius: 0;
  border: solid 1px #000;
  min-height: 100%;
  height: 30px;
}
* {
  font-weight: 500;
  box-sizing: border-box;
}
select {
  border: solid 1px #000;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 30px;
}
table {
  width: 100%;
}

/* 
import { FC, useState } from 'react';

const arr: number[] = [
  1, 2, 3, 4, 5, 6, 7, 8,
  9, 0, 1, 1, 1, 1, 1, 1,
  1, 1, 1, 1, 1, 1, 1, 1,
  1, 1, 1, 1, 1, 1, 1, 1,
  1, 1, 1, 1, 1, 1, 1, 1,
  1, 1, 1, 1, 1, 1, 1, 1,
  9, 0, 1, 1, 1, 1, 1, 1,
  1, 1, 1, 1, 1, 1, 1, 1,
  1, 1, 1, 1, 1, 1, 1, 1,
  1, 1, 1, 1, 1, 1, 1, 1,
  1, 1, 1, 1, 1, 1, 1, 1,
];

const quantityOfStartBtns: number = 4;

const Pagination: FC = () => {
  const counterOfslides = Math.ceil(arr.length / 10);
  const [counter, setCounter] = useState(1);
  const [stepFromStart, setStepFromStart] = useState(0);
  console.log(counterOfslides);
  const isSelected = (idx: number) => {
    if (stepFromStart === 0) {
      if (counter === idx + 1) {
        return 'selectedSlide';
      }
      return '';
    }
    if (idx === 1) {
      return 'selectedSlide';
    }
    return '';
  };
  return (
    <div className="pagination">
      <button type="button">{'<'}</button>
      <div style={{ display: 'flex' }}>
        {[...Array(quantityOfStartBtns)].map((i, idx) => (
          <button
            onClick={() => {
              if (stepFromStart === 0) {
                if (idx !== 3) {
                  setCounter(idx + 1);
                } else {
                  setStepFromStart(3);
                }
              } else if (idx === 0) {
                setStepFromStart(stepFromStart - 1);
              } else if (idx === 2) {
                setStepFromStart(stepFromStart + 1);
              } else if (idx === 3) {
                setStepFromStart(stepFromStart + 2);
              }
            }}
            className={isSelected(idx)}
            type="button"
            style={{ margin: '0 2px' }}
          >
            {
              stepFromStart !== 0
                ? idx + stepFromStart
                : idx + 1
            }
          </button>
        ))}
        {
          counterOfslides > 5
          && (
            <>
              <button type="button" style={{ margin: '0 2px' }}>...</button>
              <button
                onClick={
                  () => {
                    setStepFromStart(counterOfslides - 3);
                  }
                }
                type="button"
                style={{ margin: '0 2px' }}
              >
                {counterOfslides}
              </button>
            </>
          )
        }
      </div>
      <button type="button">{'>'}</button>
    </div>
  );
};

export default Pagination;


// import { FC, useState } from 'react';
// import { Btn } from '../../btn';

// const arr: number[] = [
//   1, 2, 3, 4, 5, 6, 7, 8,
//   9, 0, 1, 1, 1, 1, 1, 1,
//   1, 1, 1, 1, 1, 1, 1, 1,
//   1, 1, 1, 1, 1, 1, 1, 1,
//   1, 1, 1, 1, 1, 1, 1, 1,
//   1, 1, 1, 1, 1, 1, 1, 1,
//   9, 0, 1, 1, 1, 1, 1, 1,
//   1, 1, 1, 1, 1, 1, 1, 1,
//   1, 1, 1, 1, 1, 1, 1, 1,
//   1, 1, 1, 1, 1, 1, 1, 1,
//   1, 1, 1, 1, 1, 1, 1, 1,
// ];

// const quantityOfBtns: number = 4;
// const arrayOfQuantityBtns = [...Array(quantityOfBtns)];
// const counterOfslides = Math.ceil(arr.length / 10);

// const Pagination: FC = () => {
//   const [counter, setCounter] = useState(1);
//   const [stepFromStart, setStepFromStart] = useState(0);

//   const isSelected = (idx: number) => {
//     if (stepFromStart === 0) {
//       if (counter === idx + 1) {
//         return 'selectedSlide';
//       }
//       return '';
//     }
//     if (idx === 1) {
//       return 'selectedSlide';
//     }
//     return '';
//   };

//   const output = (idx: number) => {
//     if (stepFromStart !== 0) {
//       console.log(idx + stepFromStart);
//       return idx + stepFromStart;
//     }
//     return idx + 1;
//   };

//   const handleClick = (idx: number, isEnd: boolean) => {
//     if (stepFromStart === 0) {
//       if (idx !== 3) {
//         setCounter(idx + 1);
//       } else {
//         setStepFromStart(3);
//       }
//     } else if (idx === 0) {
//       setStepFromStart(stepFromStart - 1);
//     } else if (idx === 2) {
//       if (isEnd) {
//         setStepFromStart(stepFromStart + 1);
//       }
//     } else if (idx === 3) {
//       if (output(idx) === counterOfslides) {
//         setStepFromStart(stepFromStart - 3);
//       }
//       if (isEnd) {
//         setStepFromStart(stepFromStart + 2);
//       }
//     }
//   };
//   return (
//     <div className="pagination">
//       <div>
//         <Btn
//           onClick={() => {
//             setStepFromStart(0);
//           }}
//           text="<<"
//         />
//         <Btn
//           onClick={() => {
//             setStepFromStart(stepFromStart - 1);
//           }}
//           text="<"
//         />
//       </div>
//       <div style={{ display: 'flex' }}>
//         {arrayOfQuantityBtns.map((i, idx) => {
//           const isEnd = output(idx) === counterOfslides;
//           return (
//             <button
//               onClick={() => handleClick(idx, isEnd)}
//               className={isSelected(idx)}
//               type="button"
//               style={{ margin: '0 2px' }}
//             >
//               {
//                 output(idx)
//               }
//             </button>
//           );
//         })}
//       </div>
//       <div>
//         <Btn
//           onClick={() => {
//             setStepFromStart(stepFromStart + 1);
//           }}
//           text=">"
//         />
//         <Btn
//           onClick={() => {
//             setStepFromStart(counterOfslides);
//           }}
//           text=">>"
//         />
//       </div>
//     </div>
//   );
// };

// export default Pagination;
*/
